#header {
    width: 100%;
    height: 100vh;
    padding-top: 90px;
}

.container {
    padding: 10px 10%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: clamp(28px, 6vw, 60px);
    margin-top: 20px;
}

.header-text h1 span {
    color: #00eeff;
}
