#about {
    padding: 80px 0;
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: clamp(32px, 4vw, 60px);
    font-weight: 600;
    color: #00eeff;
}

.about-text {
    font-size: 18px;
    line-height: 1.7;
    margin: 20px 0 40px;
}

.tab-bar {
    display: flex;
    gap: 50px;
    margin-top: 10px;
}

.tab {
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
